.input__group {
  &__label {
    width: 100%;
  }
  &__control {
    width: 100%;
    border: 2px solid transparent;
    outline: 0;
    padding: 10px;
    background-color: $silver;
    transition: all 0.3s;
    &:focus {
      border-bottom: 2px solid $electric;
    }
  }
}
